mixin space
  br
  br

mixin navbar
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href=uri_prefix+"/") Interact

      ul.nav.navbar-nav.navbar-right
        li
          a(href=uri_prefix+"/") Home
        li
          a(href=uri_prefix+"/guides.html") Guides
        li
          a(href=uri_prefix+"/docs.html") Docs
        li
          a(href=uri_prefix+"") Github
          
        
