mixin space
  br
  br

mixin navbar
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand(href=uri_prefix+"/") Interact

      ul.nav.navbar-nav.navbar-right
        li
          a(href=uri_prefix+"/") Home
        li
          a(href=uri_prefix+"/guides.html") Guides
        li
          a(href=uri_prefix+"/docs.html") Docs
        li
          a(href=uri_prefix+"") Github
          
mixin menu
  .col-md-3
    +space
    ul
      li
        a(href=uri_prefix+"/guides.html") Getting Started
      li
        a(href=uri_prefix+"/guides_containers.html") Containers
      li
        a(href=uri_prefix+"/guides_mutations.html") Mutations
      li
        a(href=uri_prefix+"/guides_subresources.html") Subresources
      li
        a(href=uri_prefix+"/guides_custom_interfaces.html") Custom Agents/Interfaces
          
        
